<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Contato</title>
</head>

<body>
    <h2>Contato</h2>
    <form action="login.html">
        
	<lable>Nome:</lable>
        <input type="text" name="nomeUser" maxlength="30" size="25" placeholder="Digite o nome">
        <br/>
        <lable>Email:</lable>
        <input type="email" name="emailUser" maxlength="30" size="25" placeholder="Digite seu email">
        <br/>
        <lable>Telef   :</lable>
        <input type="telefone" name="telefonelUser" maxlength="30" size="25" placeholder="Telefone">
        <br/>
	<p></p>
	<p></p>
     <input type="submit" value="Continuar">

    </form>
</body>

</html>